*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --color-border: #D6D6D6;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;

    font-size: 1.6rem;
    font-family: "Inter", sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    min-width: 40rem;

    border: 1px solid var(--color-border);
    border-radius: 7px;
}

.content {
    margin: 2.8rem;
}

.title {
    font-size: 2.4rem;
}

.list-select {
    margin: 2.9rem 0 9.5rem 0.3rem;
}

.list__item:not(:last-child) {
    margin-bottom: 1.5rem;
}

.item__title {
    font-size: 1.8rem;
}

.item__place-input {
    padding: 1rem 0;
}

.select-wrapper {
    position: relative;
}

.select-wrapper::after {
    content: "";
    display: inline-block;

    position: absolute;
    right: 2.6rem;
    top: 50%;

    border: solid #d9d9d9;
    border-width: 0 0.35rem 0.35rem 0;
    padding: 0.6rem;

    transform: rotate(45deg) translateY(-97%);

    transition: border 0.2s linear;

    pointer-events: none;
}

.select-wrapper:hover {
    &::after {
        border: solid #c0c0c0;
        border-width: 0 0.35rem 0.35rem 0;
    }
}

.input, select {
    padding: 1.2rem 3.7rem 1.2rem 1.2rem;
    width: 100%;

    font-family: inherit;
    font-size: 1.6rem;

    border: 1px solid var(--color-border);
    border-radius: 7px;

    transition: border 0.2s linear;
}

.input::placeholder {
    color: #6E6E6E;
}

.input:focus, select:focus {
    border: 1px solid #adadad;

    & + .select-wrapper::before, .select-wrapper::after {

    }
}

.select {
    background-color: white;

    cursor: pointer;
}

.btn {
    padding: 1.3rem 2rem;

    font-size: 1.6rem;
    color: #ffffff;

    background-color: #399EEC;
    border-radius: 7px;

    transition: background-color 0.3s ease-in-out;

    cursor: pointer;
}

.btn:hover {
    background-color: #2d94e3;
}

.dropdown__button {
    position: relative;
    display: block;
    width: 100%;

    padding: 1.2rem 3.7rem 1.2rem 1.2rem;


    color: #6E6E6E;
    font-size: 1.6rem;
    font-family: Inter, sans-serif;
    text-align: left;

    border: 1px solid var(--color-border);
    border-radius: 7px;

    cursor: pointer;
}

.dropdown__button::after {
    content: "";
    display: inline-block;

    position: absolute;
    right: 2.6rem;
    top: 50%;

    border: solid #d9d9d9;
    border-width: 0 0.35rem 0.35rem 0;
    padding: 0.6rem;

    transform: rotate(45deg) translateY(-97%);

    transition: border 0.2s linear;

    pointer-events: none;
}

.dropdown__button:hover, .dropdown__button--active {
    &::after {
        border: solid #c0c0c0;
        border-width: 0 0.35rem 0.35rem 0;
    }
}

.dropdown {
    position: relative;
}

.dropdown__list {
    display: none;

    position: absolute;
    margin-top: 0.5rem;
    width: 100%;

    border: 1px solid var(--color-border);
    border-radius: 7px;
    background-color: white;
}

.dropdown__list--visible {
    display: block;
}

.dropdown__list:hover + .dropdown__button  {
    &::after {
        border: solid #c0c0c0;
        border-width: 0 0.35rem 0.35rem 0;}
}

.dropdown__item {
    padding: 1.2rem 3.7rem 1.2rem 1.2rem;

    font-size: 1.6rem;
    font-family: Inter, sans-serif;
    text-align: left;

    cursor: pointer;
}

.dropdown__item:hover {
    background-color: #f6f6f6;
}

.dropdown__item:not(:first-child ~ :last-child) {
    border-bottom: 1px solid var(--color-border);
}

.dropdown__item:first-child {
    border-radius: 7px 7px 0 0;
}

.dropdown__item:last-child {
    border-radius: 0 0 7px 7px;
}

.dropdown__input-hidden {
    display: none;
}